<!doctype html>
<html>
    <head>
        <title>Sample Scaffold</title>
        <script src='https://d3js.org/d3.v4.min.js'></script>
        <!--script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="style/styles.css">
    </head>

    <body>

        <h3>Derrida!</h3>
        <!-- <ul> </ul> -->
        <svg></svg>
        <div id="tooltip" class="hidden">
        </div>

        <div id="maplegend" class="maplegend"> 
        </div>

        <script>
            //  Set some other Parameters that are needed in more than one js files
                var svg = d3.select('svg');
                var svgWidth = $(window).width() - 30;
                var svgHeight = $(window).height() - 90;

                var totalPage = 445;
                var numOfPageEveryRec = 1;
                var margin_left = 80;
                var margin_right = 10;
                var margin_bottom = 80;
                var padding_in_between = 2.2;

                var pageHeight = 40;
                var pageGroupWidth = (svgWidth) - margin_left - margin_right;
                var pageWidth = pageGroupWidth / (totalPage/numOfPageEveryRec) - padding_in_between;

                var pageGroupY = svgHeight - pageHeight - margin_bottom;

                var pageData = d3.range((totalPage/numOfPageEveryRec)+1);


            //set svg
                svg.attr('width',svgWidth)
                    .attr('height',svgHeight)
                    .style('background', '#ffffff');

            // make use of csv data,
                d3.csv("data/data.csv", function(data) {
                    console.log(data);
                    var derrida_data = data;

                    drawPages();

                });



        </script>
        <script src='scripts/basicGeometries.js'></script>
        <svg></svg>
        <script type="text/javascript" src="scripts/scatterChart.js"></script>

    </body>

</html>
