<!doctype html>
<html>
    <head>
        <title>Sample Scaffold</title>
        <script src='https://d3js.org/d3.v4.min.js'></script>
        <!--script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="style/styles.css">
    </head>


    <body>

        <h3>Derrida!</h3>
        <ul> </ul> 
        <svg></svg>
        
        <script src='scripts/yAxis.js'></script>
        
        





        <script src='scripts/basicGeometries.js'></script>
    </body>
    

</html>
