<!doctype html>
<html>
    <head>
        <title>Sample Scaffold</title>
        <script src='https://d3js.org/d3.v4.min.js'></script>
        <!--script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="style/styles.css">
    </head>

    <body>

        <h3>Derrida!</h3>
        <!-- <ul> </ul> -->
        <svg></svg>
        <div></div>




        <script>
            //  Set some other Parameters that are needed in more than one js files
                var svg = d3.select('svg');
                var svgWidth = $(window).width() - 30;
                var svgHeight = $(window).height() - 90;


            //set svg
                svg.attr('width',svgWidth)
                    .attr('height',svgHeight)
                    .style('background', '#00D9E8');

            // make use of csv data,
                d3.csv("data/data.csv", function(data) {
                    console.log(data);
                    var derrida_data = data;

                    drawPages();

                });



        </script>
        <script src='scripts/basicGeometries.js'></script>
        <script type="text/javascript" src="scripts/scatterChart.js"></script>

    </body>

</html>
