body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: rgb(103, 103, 253);
}

h3 {
  color: darkblue;
  font-size: 24px;
}


.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

svg {
    width: 960px;
    height: 500px;
    border: 1px solid gray;
  }